* {
    font-family:Verdana, 'Geneva', Tahoma, sans-serif;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}

html, body {
    height: 100%;
    background-color: lightgray;
    height: 2000px;
}


header {
    background-color: grey;
    color: white;
    font-style: italic;
}

header a {
    color: black;
    justify-content: flex-end;
    margin-right: 15px;
}

.sticky-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
}

a {
    color: black;
}

main {
    display: flex;
}

#left-section {
    
}

#photo {
    margin: 10px;
    
}

#right-section {
    
}

#contact-section {
    text-align: center;
    justify-content: center;
    border: 10px solid gray;
    background-color: white;
}
/* THINGS TO ADD:
    - working a links that move to sections of page
    - the portfolio itself
    - a media query for adjusting to different screen sizes
    - animations to examples of portfolio
    - about me next to headshot
    - link that opens up resume
    - make sure first application takes up the width of the display area
    - make sure that application links work, and take you to the correct location(website URL) using a hyperlink
    - find an actual decent font */